# Process Data

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
import os
import sys
sys.path.insert(0, r'C:\Data\UBCO\DATA 301\Project\course-project-solo_328\analysis\Scripts')
    
from project_functions import *

In [3]:
CA_YT = load_and_process(r"C:\Data\UBCO\DATA 301\Project\course-project-solo_328\data\raw\Youtube_data\CAvideos.csv")
IN_YT = load_and_process(r"C:\Data\UBCO\DATA 301\Project\course-project-solo_328\data\raw\Youtube_data\INvideos.csv")
DE_YT = load_and_process(r"C:\Data\UBCO\DATA 301\Project\course-project-solo_328\data\raw\Youtube_data\DEvideos.csv")

In [4]:

import datetime as dt
new_CA_YT = CA_YT.assign(Publish_Date = pd.to_datetime(CA_YT['publish_time']))
new_CA_YT = CA_YT.assign(Publish_Date = new_CA_YT['Publish_Date'].dt.date)
new_CA_YT['Publish_Date'] = pd.to_datetime(new_CA_YT['Publish_Date'])

In [5]:
old_list = list(CA_YT['trending_date'])
new_list = []
import datetime
for i in old_list:
    new_list.append(datetime.datetime.strptime(i, '%y.%d.%m'))
    
new_CA_YT['Trend_Date'] = new_list

In [6]:
new_CA_YT.drop(columns=['trending_date', 'publish_time'])

,title,channel_title,category_id,views,likes,dislikes,comment_count,Count_Upper,Publish_Date,Trend_Date
0,Eminem - Walk On Water (Audio) ft. Beyoncé,EminemVEVO,10,17158579,787425,43420,125882,6,2017-11-10,2017-11-14
1,PLUSH - Bad Unboxing Fan Mail,iDubbbzTV,23,1014651,127794,1688,13030,9,2017-11-13,2017-11-14
2,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,3191434,146035,5339,8181,8,2017-11-12,2017-11-14
3,I Dare You: GOING BALD!?,nigahiga,24,2095828,132239,1989,17518,12,2017-11-12,2017-11-14
4,Ed Sheeran - Perfect (Official Music Video),Ed Sheeran,10,33523622,1634130,21082,85067,6,2017-11-09,2017-11-14
...,...,...,...,...,...,...,...,...,...,...
39580,HOW2: How to Solve a Mystery,Annoying Orange,24,80685,1701,99,1312,6,2018-06-13,2018-06-14
39581,Eli Lik Lik Episode 13 Partie 01,Elhiwar Ettounsi,24,103339,460,66,51,5,2018-06-13,2018-06-14
39582,KINGDOM HEARTS III – SQUARE ENIX E3 SHOWCASE 2...,Kingdom Hearts,20,773347,25900,224,3881,36,2018-06-11,2018-06-14
39583,Trump Advisor Grovels To Trudeau,The Young Turks,25,115225,2115,182,1672,5,2018-06-13,2018-06-14
39584,【完整版】遇到恐怖情人該怎麼辦？2018.06.13小明星大跟班,我愛小明星大跟班,24,107392,300,62,251,0,2018-06-13,2018-06-14

In [7]:
Days_Taken = new_CA_YT['Trend_Date'] - new_CA_YT['Publish_Date']
new_CA_YT['Days_Taken'] = Days_Taken.dt.days

In [8]:
Categories_dict = {1:"Film & Animation", 2:"Vehicles", 10:"Music", 15:"Pets & Animals", 17:"Sports", 18:"Short Movies", 19:"Travel & Events", 20:"Gaming", 21:"Videoblogging", 22:"People", 23:"Comedy", 24:"Entertainment", 25:"News & Politics", 26:"Howto & Style", 27:"Education", 28:"Science & Tech", 29:"Nonprofits & Activity", 30:"Movies", 31:"Animation", 32:"Action",33:"Classics", 34:"Comedy", 35:"Documentary", 36:"Drama", 37:"Family", 38:"Foreign", 39:"Horror", 40:"Sci Fi", 41:"Thriller", 42:"Shorts", 43:"Shows", 44:"Trailers"}

In [9]:
CA_YT['Categories']= CA_YT['category_id'].map(Categories_dict)
IN_YT['Categories']= IN_YT['category_id'].map(Categories_dict)
DE_YT['Categories']= DE_YT['category_id'].map(Categories_dict)

In [10]:
#Count of each category 
Count_Cat_CA = CA_YT['Categories'].value_counts()
Count_Cat_IN = IN_YT['Categories'].value_counts()
Count_Cat_DE = DE_YT['Categories'].value_counts()

#Total number of videos
Total_CA = len(CA_YT.index)
Total_IN = len(IN_YT.index)
Total_DE = len(DE_YT.index)

In [11]:
#Percentage of each category
Percentage_CA = round(Count_Cat_CA/Total_CA*100)
Percentage_IN = round(Count_Cat_IN/Total_IN*100)
Percentage_DE = round(Count_Cat_DE/Total_DE*100)

In [12]:
Percentage_CA = pd.Series.to_frame(Percentage_CA, name='Percentage').reset_index()
Category_list = list(Percentage_CA['index'])
Percentage_CA['Categories'] = Category_list
Percentage_CA.drop(columns = ['index'])

    Percentage             Categories
0         33.0          Entertainment
1         10.0        News & Politics
2          9.0                 People
3          9.0                 Comedy
4          9.0                  Music
5          7.0                 Sports
6          5.0          Howto & Style
7          5.0       Film & Animation
8          3.0                 Gaming
9          3.0         Science & Tech
10         2.0              Education
11         1.0        Travel & Events
12         1.0         Pets & Animals
13         1.0               Vehicles
14         0.0                  Shows
15         0.0  Nonprofits & Activity
16         0.0                 Movies

In [13]:
lista = new_CA_YT['Days_Taken'].to_list()
list_new = []
for i in lista:
    if i >= 10:
        list_new.append('10+')
    else:
        list_new.append(i)

Days_Taken_df = pd.DataFrame(list_new, columns = ['Days_Taken'])
Days_Taken_df

      Days_Taken
0              4
1              1
2              2
3              2
4              5
...          ...
39553          1
39554          1
39555          3
39556          1
39557          1

[39558 rows x 1 columns]